.load{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;

}
.loading{ 
    color: white; 
    display: block;
    
    text-align: center;
    padding-top:  84px;
    width:30px;
     height: 30px;
     background-color:transparent;
     border-left:5px solid lightblue ;
     border-right: 5px solid red;
      border-radius: 100%;
}
input{
  outline: none;
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 50px;
  font-size: 20px;
  font-family: sans-serif;
  color: #333333;
}
.input-div{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
@media (prefers-reduced-motion: no-preference) {
    .loading {
      animation: loading-spin infinite 1.5s forwards;
    }
  }
  
  
  
  @keyframes loading-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  